.editor {
  @apply cursor-text max-h-36 overflow-auto w-full text-wrap outline-none
  rounded-large px-1 empty:before:content-[attr(data-placeholder)] before:text-slate-400
  focus:after:z-[-1] after:content-[''] focus:after:border-primary
  focus:after:border-solid focus:after:border-1 focus:after:rounded-large focus:after:absolute
  focus:after:w-full focus:after:h-full focus:after:left-0 focus:after:top-0 scrollbar-hide;
}
