@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

:root {
  --foreground-rgb: 0, 0, 0;
  --backgroond-rgb: var(--background-light-rgb);
  --border-color: #e6e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 223, 223, 223;
    --backgroond-rgb: var(--background-dark-rgb);
    --border-color: #414141;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--backgroond-rgb));
}

* {
  user-select: none;
  cursor: default;
  -webkit-user-drag: none;
}

input {
  user-select: auto !important;
}

@layer components {
  .chat-item {
    @apply flex mb-5 mt-5 w-full relative box-border;
  }

  .chat-item .chat-item-box {
    @apply pl-3 pr-14 w-full;
  }

  .chat-item .avatar {
    @apply w-11 h-11 rounded-full align-middle flex-shrink-0;
  }

  .chat-item .chat-item-read-count {
    @apply min-h-4 py-2 px-3 leading-6 text-default-foreground rounded-2xl rounded-tl-sm text-sm;
    word-break: break-word;
  }

  .chat-item .chat-item-user-info {
    @apply flex gap-2 text-tiny mb-2 whitespace-nowrap leading-[1.5];
  }

  .is-me {
    @apply flex-row-reverse;
  }

  .is-me .chat-item-user-info {
    @apply justify-end flex-row-reverse;
  }

  .is-me.chat-item .chat-item-read-count {
    @apply rounded-2xl rounded-tr-sm;
  }

  .is-me.chat-item .chat-item-box {
    @apply pl-14 pr-3 flex flex-col items-end;
  }

  .list-item-selected {
    @apply data-[selected="true"]:aria-selected:bg-[hsl(var(--nextui-default)/0.4)];
  }
}
