.sidebar {
  width: 70px;
  box-sizing: border-box;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.sidebar .sidebarGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .sidebarItem {
  margin-bottom: 30px;
}

.sidebar .sideBarItemIcon {
  font-size: 20px;
  color: #717172;
}
